/* background color: #f1ebe3 */
/* accent color: #f45999 */
/* darker accent color: #c3317f*/
/* Header font:  font-family: "Pinyon Script", cursive;*/
/* Titles: font-family: "Shippori Mincho", serif;*/
/* Blurbs: font-family: "Be Vietnam Pro", sans-serif;*/

body {
  background-color: #f1ebe3;
}

.nav-link {
  color: #f45999;
  font-family: "Shippori Mincho", serif;
  transition: 0.5s;
}

.nav-link:hover {
  color: #c3317f;
  font-weight: 900;
  transition: 0.5s;
  letter-spacing: 0.5px;
}

.active {
  color: #c3317f !important;
  font-weight: 900;
  letter-spacing: 0.5px;
  text-decoration: underline;
}

.myname {
  font-family: "Pinyon Script", cursive;
  text-align: center;
  font-size: clamp(50px, 7vw, 150px);
  padding-top: 10%;
  color: #f45999;
}

.header-pic {
  padding: 6%;
}

.pic {
  border: solid 2px #f45999;
  border-radius: 50%;
height: 400px;
width: 600px;
  object-fit: cover;
  box-shadow: #b4b4b4 0px 4px 8px 0px, #767575 4px 4px 16px 0px;

}

.blurb {
  font-family: "Shippori Mincho", serif;
  font-size: 1.3em;
  text-align: center;
  padding: 3%;
  max-height: 475px;
  color: #f45999;
}

.blurbb {

  margin-top: 3%;
}
.hitext{
  font-family: "Shippori Mincho", serif;
  color: #f45999;
  font-size: clamp(30px, 4vw, 150px);
  
}
.try{
  vertical-align: middle;
}
.aboutmepic{
  border: solid 2px #f45999;
  box-shadow: #b4b4b4 0px 4px 8px 0px, #767575 4px 4px 16px 0px;
width: 305px;
height: 200px;
}
.littleblurb{
  color: #f45999;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 15px;
  font-weight: 300;
}